.container {
	width: 100%;
	padding: 0 5%;
	background-color: #000;
}
.logoContainer {
	z-index: 2;
	width: 100%;
	padding: 30px;
	padding-bottom: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}
.logoContainer img {
	max-width: 100%;
}
.videosContainer {
	margin: 0 auto;
	padding-top: 340px;
	position: relative;
	overflow: hidden;
	width: 100%;
	max-width: 64rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 16px;
}
.video {
	width: 100%;
	position: relative;
	border-radius: 2rem;
	overflow: hidden;
	padding-top: 118%;
}
.video video {
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
}

@media screen and (max-width: 990px) {
	.videosContainer {
		padding-top: 200px;
	}
}

@media screen and (max-width: 767px) {
	.logoContainer {
		margin-top: 40px;
	}
}

@media screen and (max-width: 479px) {
	.videosContainer {
		padding-top: 170px;
	}
}
